<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Website</th>
      <th>Location</th>
      <th>Price</th>
      <th>Age</th>
      <th>Hours</th>
      <th>Environment</th>
      <th>Season</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.title %></td>
        <td><%= activity.body %></td>
        <td><%= link_to activity.website, activity.website %></td>
        <td><%= activity.location %></td>
        <td><%= activity.price %></td>
        <td><%= activity.age %></td>
        <td><%= activity.hours %></td>
        <td><%= activity.environment %></td>
        <td><%= activity.season %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
