<p id="notice"><%= notice %></p>

<h1><%= @activity.title %></h1>
<p>
  <%= @activity.body %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'All Activities', activities_path %>
